{% extends 'base.html' %}

{% block title %} Details  {% endblock %}
{% block style %}
<style media="screen">
  img{
    border-radius: 50%;
  }
</style>
    {%endblock%}
{% block content %}
  {% if resumes %}
    <table align='center' cellpadding='6' border="1" width='100' height='80'>
      <tr>
        <th>Resume Id </th>
        <th>Name </th>
        <th>KnownTechnologies</th>
        <th>Email Id </th>
        <th>Photo </th>
      </tr>
      {% for r in resumes %}
      <tr>
        <td> {{r.id}}</td>
        <td> {{r.fname}}  {{r.lname}} </td>
        <td> {{r.tech}} </td>
        <td>  {{r.email}}</td>
        <td> {{r.photo.url}} </td>
      <td>
    <img src="{{r.photo.url}}" alt="img" height="100" width="100"/> </td>
  {%endfor%}
  <tr>
    <td colspan="7" align='center'> <h3> <a href="{% url 'home' %}"> Back To Home</a> </h3> </td>
  </tr>
  </table>
  {%else%}
   <h1 align='center'>  No records found </h1>
   {%endif%}
  {%endblock%}
